<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- UI Host -->
    <add key="UIHostAssemblyName" value="GtkApplication.dll" />
    <add key="UIHostClass" value="GtkApplication.App" />

    <!-- CONTROLLERS -->
    <add key="GPSDEnabled" value="true" />

    <!-- ARDUINO COM PORT -->
    <add key="ArduinoPortFake" value="false" />
    <add key="ArduinoPortEnabled" value="true" />
    <add key="ArduinoPort" value="/dev/ttyAMA0" />
    <add key="ArduinoPortSpeed" value="115200" />
    <add key="ArduinoPortParity" value="None" />
    <add key="ArduinoPortDataBits" value="8" />
    <add key="ArduinoPortStopBits" value="One" />
    
    <!-- LOGGER -->
    <!-- Available values: Fatal, Error, Warning, Info, Debug -->
    <add key="LogLevel" value="Info" />
    <add key="LoggedClasses" value="" />

    <!-- Webcam Control -->
    <add key="WebcamControlCommand" value="v4lctl" />
    <add key="WebcamControlColorArgs" value="setattr color {0}%" />
    <add key="WebcamControlContrastArgs" value="setattr contrast {0}%" />
    <add key="WebcamControlBrightArgs" value="setattr bright {0}%" />
    <add key="WebcamControlColor" value="30" />
    <add key="WebcamControlContrast" value="40" />
    <add key="WebcamControlBright" value="10" />

    <!-- SYSTEM TIME SETTINGS -->
    <add key="SystemTimeValidByDefault" value="false" />
    <add key="SystemTimeMinDifference" value="2000" />
    <add key="SystemTimeSetCommand" value="sudo" />
    <add key="SystemTimeSetArgs" value="date {0}" />
    <add key="SystemTimeSetFormat" value="MMddhhmmyyyy.ss" />
    
    <!-- SHUTDOWN/RESTART SETTINGS -->
    <add key="SystemShutdownCommand" value="sudo" />
    <add key="SystemShutdownArg" value="poweroff" />
    <add key="SystemRestartCommand" value="sudo" />
    <add key="SystemRestartArg" value="reboot" />
    
    <!-- External apps -->
    <add key="nav_exe" value="/home/linaro/navit/navit/navit" />
    <add key="nav_args" value="" />
    <add key="nav_use_shell" value="false" />
    <add key="nav_wait_UI" value="true" />

	<!-- Set Datetime -->
    <add key="settime_exe" value="sudo" />
    <add key="settime_args" value="date 122820182014.55" />
    <add key="settime_use_shell" value="true" />
    <add key="settime_wait_UI" value="false" />

    <!--<add key="cam_exe" value="xawtv" />
    <add key="cam_args" value="-driver v4l2 -f" />
    <add key="cam_use_shell" value="false" />
    <add key="cam_wait_UI" value="true" /> -->

    <add key="cam_exe" value="mplayer" />
    <add key="cam_args" value="tv:///dev/video0 --flip --fs" />
    <add key="cam_use_shell" value="false" />
    <add key="cam_wait_UI" value="true" />

    <add key="automation_tool" value="xdotool" />

  </appSettings>
</configuration>