<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ARDUINO COM PORT -->
    <add key="ArduinoPort" value="/dev/ttyAMA0" />
    <add key="ArduinoPortSpeed" value="115200" />
    <add key="ArduinoPortParity" value="None" />
    <add key="ArduinoPortDataBits" value="8" />
    <add key="ArduinoPortStopBits" value="One" />
    
    <!-- LOGGER -->
    <!-- Available values: Fatal, Error, Warning, Info, Debug -->
    <add key="LogLevel" value="Debug" />
    <add key="LoggedClasses" value="" />
  </appSettings>
</configuration>