<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- UI Host -->
    <add key="UIHostAssemblyName" value="GtkApplication.dll" />
    <add key="UIHostClass" value="GtkApplication.App" />

    <!-- ARDUINO COM PORT -->
    <add key="ArduinoPortFake" value="true" />
    <add key="ArduinoPortEnabled" value="true" />
    <add key="ArduinoPort" value="/dev/ttyAMA0" />
    <add key="ArduinoPortSpeed" value="115200" />
    <add key="ArduinoPortParity" value="None" />
    <add key="ArduinoPortDataBits" value="8" />
    <add key="ArduinoPortStopBits" value="One" />
    
    <!-- LOGGER -->
    <!-- Available values: Fatal, Error, Warning, Info, Debug -->
    <add key="LogLevel" value="Debug" />
    <add key="LoggedClasses" value="" />

    <!-- External apps -->
    <add key="nav_exe" value="/home/linaro/navit/navit/navit" />
    <add key="nav_args" value="" />
    <add key="nav_use_shell" value="false" />
    <add key="nav_wait_UI" value="true" />

    <add key="cam_exe" value="xawtv" />
    <add key="cam_args" value="-driver v4l2 -f" />
    <add key="cam_use_shell" value="false" />
    <add key="cam_wait_UI" value="true" />
  </appSettings>
</configuration>